@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

header .menu-bar-pc {
  min-height: 6rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5rem;
}
header .menu-bar-pc span .logox {
  width: 120px;
  height: 120px;
  margin-left: 5rem;
  vertical-align: top;
  transform: scale(1);
  transition: all 0.1s ease-in;
  cursor: pointer;
}
header .menu-bar-pc span .logox:hover {
  transform: scale(1.02);
}
header .menu-bar-pc a {
  text-decoration: none;
  color: #000;
  margin-right: 1rem;
  position: relative;
  transition: all 0.4s ease;
  padding-bottom: 0.5rem;
}
header .menu-bar-pc a:hover::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background: #4cd137;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header .menu-bar-pc a:last-child {
  margin-left: 0;
}
header .menu-bar-pc a h2 {
  font-size: 1.8rem;
}
header .menu-bar-movil {
  top: 0;
  min-height: 6rem;
  padding: 0 5rem;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  display: none;
}
header .menu-bar-movil a {
  text-decoration: none;
  color: #000;
}
header .menu-bar-movil a h2 {
  font-size: 1.3rem;
}
header .menu-bar-movil a .fa-hamburger {
  color: #000;
  font-size: 1.3rem;
}
header .menu-bar-movil .menu-despegable {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100%;
  /*al 0% w Js*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-out;
  background: #0be881;
}
header .menu-bar-movil .menu-despegable #cerrar .fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  transition: all 0.5s ease;
}
header .menu-bar-movil .menu-despegable #cerrar .fa-times:hover {
  color: rgba(255, 255, 255, 0.75);
}
header .menu-bar-movil .menu-despegable .menu-principal {
  text-align: center;
}
header .menu-bar-movil .menu-despegable .menu-principal a {
  display: block;
  margin: 1.8rem auto;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.13em;
  position: relative;
}
header .menu-bar-movil .menu-despegable .menu-principal a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
  height: 3px;
  width: 30px;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  text-align: center;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a {
  text-decoration: none;
  margin: 0 1rem;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a i {
  font-size: 20px;
  color: #fff;
  transition: all 0.4s ease;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a i.fa-instagram:hover {
  color: #E4405F;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a i.fa-youtube:hover {
  color: #ff0000;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a i.fa-facebook-f:hover {
  color: #1877f2;
}
header .menu-bar-movil .menu-despegable .menu-principal .redes a i.fa-whatsapp:hover {
  color: #25d366;
}

.banner {
  margin-bottom: 5rem;
}
.banner .container {
  width: 90%;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.banner .container .texto-seccion {
  padding-top: 3.5rem;
  width: 100%;
}
.banner .container .texto-seccion h1 {
  text-align: center;
  font-size: 4.5rem;
  color: rgba(76, 209, 55, 0.9);
  text-transform: uppercase;
}

.container-fluid {
  width: 25%;
  overflow: hidden;
  margin: 0 auto;
}
.container-fluid .slider {
  width: 300%;
  display: flex;
}
.container-fluid .slider .slide {
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
.container-fluid .slider .slide.foto1 {
  background: url("../img/slider/ejemplo1.jpg");
}
.container-fluid .slider .slide.foto2 {
  background: url("../img/slider/ejemplo2.jpg");
}
.container-fluid .slider .slide.foto3 {
  background: url("../img/slider/ejemplo3.jpg");
}

.como-funciona {
  margin-bottom: -15rem;
  padding-top: 0.5rem;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.como-funciona .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.como-funciona .container .col-1 {
  width: 50%;
}
.como-funciona .container .col-1 img {
  width: 100%;
  padding: 2rem;
}
.como-funciona .container .col-2 {
  width: 50%;
}
.como-funciona .container .col-2 i {
  background: rgba(46, 204, 113, 0.8);
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.como-funciona .container .col-2 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.como-funciona .container .col-2 p {
  text-align: justify;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.como-funciona .container .col-2 .tabla {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.como-funciona .container .col-2 .tabla div {
  width: 50%;
}
.como-funciona .container .col-2 .tabla div i {
  background: rgba(46, 204, 113, 0.8);
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.como-funciona .container .col-2 .tabla div p {
  margin-left: 2.1rem;
  margin-right: 2.1rem;
  font-size: 0.8rem;
  text-align: justify;
}

.descargas {
  background: #7777;
  margin-top: -7px;
}
.descargas h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.descargas .enlaces {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.descargas .enlaces a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1.4rem;
  margin-right: 1.65rem;
  border-radius: 2.5px;
  padding: 0.29rem;
  margin-left: 1.65rem;
  transition: all 0.4s ease;
  transform: scale(1);
  width: 220px;
  height: 80px;
}
.descargas .enlaces a img {
  height: 100%;
  width: 100%;
}
.descargas .enlaces a img.heicus {
  height: 80.02px !important;
}
.descargas .enlaces a:hover {
  transform: scale(1.05);
}

.pasos {
  padding-bottom: 4.5rem;
}
.pasos h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.pasos .container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pasos .container .col-der {
  width: 50%;
}
.pasos .container .col-der img {
  width: 100%;
}
.pasos .container .col-izq {
  width: 50%;
  align-self: center;
}
.pasos .container .col-izq .cards {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.pasos .container .col-izq .cards:last-child {
  margin-bottom: 0;
}
.pasos .container .col-izq .cards span {
  padding: 1.5rem;
  color: #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(1);
  transition: all 0.12s ease-in-out;
  font-size: 1.1rem;
  cursor: pointer;
}
.pasos .container .col-izq .cards span:hover {
  transform: scale(1.075);
}
.pasos .container .col-izq .cards div {
  margin-left: 2rem;
  margin-right: 4rem;
}
.pasos .container .col-izq .cards div h2 {
  font-size: 1.4rem;
}
.pasos .container .col-izq .cards div p {
  text-align: justify;
}

figure {
  width: 100%;
  background: url(../img/fondo-frutas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.blog {
  background: #7777;
}
.blog .container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.blog .container .enlace-whatsapp {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: auto;
}
.blog .container .enlace-whatsapp img {
  display: block;
  margin: 0 auto;
  transform: scale(0.25);
  cursor: pointer;
  width: 100%;
}
.blog .container .enlace-whatsapp div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.blog .container .enlace-whatsapp div i {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #25d366;
  text-decoration: none;
}
.blog .container .enlace-whatsapp div p {
  text-decoration: none;
  bottom: 2px solid #25d366;
  color: #000;
  border-left: none;
}
.blog .container .row-custom {
  margin: 0 auto;
  display: block;
  margin-top: 4rem;
  width: 94.5%;
  height: 200px;
  background: #222;
  border-radius: 20px;
}
.blog .container .row-custom a {
  text-decoration: none;
}
.blog .container .row-custom a .texto-seccion {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: scale(1);
  transition: all 0.3s ease-in;
}
.blog .container .row-custom a .texto-seccion:hover {
  transform: scale(1.06);
}
.blog .container .row-custom a .texto-seccion .texto {
  width: 100%;
}
.blog .container .row-custom a .texto-seccion .texto p {
  color: rgba(153, 153, 153, 0.85);
}
.blog .container .row-custom a .texto-seccion .texto h2 {
  text-transform: uppercase;
}
.blog .container .col {
  width: 50%;
}
.blog .container .col .flip {
  position: relative;
}
.blog .container .col .flip > .front,
.blog .container .col .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.blog .container .col .flip > .front {
  transform: rotateY(0deg);
}
.blog .container .col .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.blog .container .col .flip:hover > .front {
  transform: rotateY(180deg);
}
.blog .container .col .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.blog .container .col .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.blog .container .col .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.blog .container .col .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
.blog .container .col .flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.blog .container .col .flip > .front,
.blog .container .col .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.blog .container .col .flip > .front p,
.blog .container .col .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
.blog .container .col .flip > .front a,
.blog .container .col .flip > .back a {
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: #fff;
  position: absolute;
}

footer {
  box-shadow: 5px 5px 5px #999;
  color: #fff;
  background: #222;
}
footer h2 {
  padding-top: 1rem;
  font-weight: lighter;
}
footer .container {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
footer .container .col1 {
  width: 20%;
}
footer .container .col1 ul {
  list-style: none;
}
footer .container .col1 ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container .col2 {
  width: 20%;
}
footer .container .col2 ul {
  list-style: none;
}
footer .container .col2 ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container .redes {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .container .redes a {
  height: 90px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #222;
  background: #000;
  box-shadow: 5px 5px 5px #222;
  border-radius: 2.5px;
  padding: 0.61rem;
  transition: all 0.4s ease;
  transform: scale(0.75);
}
footer .container .redes a:nth-child(1):hover {
  transform: scale(0.79);
}
footer .container .redes a:nth-child(2):hover {
  transform: scale(0.79);
}
footer .container .redes a i.fa-google-play {
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
footer .container .redes a i.fa-apple {
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
}
footer .container .redes a p {
  width: 70%;
  font-size: 0.8rem;
}
footer .container .redes a p span {
  font-size: 1.3rem;
}

/*----------- MEDIA QUERIES -----------*/
@media all and (max-width: 1120px) {
  .container-fluid {
    width: 40%;
  }

  .logox {
    display: none;
  }

  header .menu-bar-pc {
    padding: 0 2rem;
  }

  header .menu-bar-pc a {
    margin-right: 0.7rem;
  }

  .banner .container .texto-seccion h1 {
    font-size: 3.8rem;
  }

  .descargas h2 {
    font-size: 2.2rem;
  }

  .blog .container {
    width: 100%;
  }
}
@media all and (max-width: 968px) {
  .pasos .container .col-izq .cards div h2 {
    font-size: 1.1rem;
  }

  .pasos .container .col-izq .cards div p {
    font-size: 0.9rem;
  }

  .pasos .container .col-izq .cards div {
    margin-left: 1rem;
    margin-right: 3rem;
  }

  .pasos h3 {
    font-size: 1.6rem;
  }

  .como-funciona .container .col-2 {
    width: 55%;
  }

  .como-funciona .container .col-1 {
    width: 45%;
  }

  .como-funciona .container .col-2 .tabla div p {
    margin-left: 0;
  }

  .como-funciona .container .col-2 h2 {
    font-size: 1.3rem;
  }

  .blog .container .col .flip {
    transform: scale(0.8);
  }

  .salto {
    display: none;
  }

  .blog .container .row-custom {
    margin-top: 2.2rem;
  }

  .blog .container .col {
    align-self: center;
  }

  .banner .container .texto-seccion h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 890px) {
  header .menu-bar-pc {
    display: none !important;
  }

  header .menu-bar-movil {
    display: flex !important;
  }

  .banner .container .slider figure {
    height: 200px;
  }

  .banner .container .texto-seccion h1 {
    font-size: 2.75rem;
  }

  .descargas .enlaces a {
    margin-top: 1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .pasos .container .col-izq .cards {
    margin-bottom: 0.8rem;
  }

  .como-funciona .container .col-1 {
    width: 100%;
  }

  .como-funciona .container .col-2 {
    width: 100%;
  }

  .como-funciona .container .col-1 img {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 50%;
  }

  .blog .container .col .flip {
    width: 100%;
  }

  footer .container .redes a {
    padding: 0;
  }

  footer .container .redes {
    margin-top: 2rem;
    width: 100%;
  }

  footer .container .col1, footer .container .col2 {
    width: 50%;
    text-align: center;
  }

  .blog .container .col {
    width: 100%;
  }

  .container-fluid {
    width: 50%;
  }

  .banner .container .texto-seccion h1 {
    margin-bottom: 3.5rem;
  }
}
@media all and (max-width: 697px) {
  .container-fluid {
    width: 60%;
  }

  .pasos .container .col-izq, .pasos .container .col-der {
    width: 100%;
  }

  .pasos .container .col-der img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  .pasos .container .col-izq .cards {
    margin-bottom: 0;
  }

  header .menu-bar-movil {
    padding: 0 3.5rem;
  }

  header .menu-bar-movil a .fa-hamburger {
    font-size: 1.5rem;
  }

  .banner .container .texto-seccion h1 {
    font-size: 2.4rem;
  }

  .banner .container .texto-seccion {
    padding-top: 2.5rem;
  }

  .descargas .enlaces a {
    margin-top: 1rem;
    margin-left: 0.85rem;
    margin-right: 0.85rem;
  }

  .pasos .container .col-izq .cards div {
    margin-left: 3rem;
  }

  .blog .container {
    padding: 0 2.2rem;
  }

  .blog .container .row-custom {
    margin-bottom: 2rem;
  }
}
@media all and (max-width: 574px) {
  .blog .container .enlace-whatsapp img {
    transform: scale(0.35);
    margin-bottom: -1rem !important;
  }

  .banner .container .texto-seccion h1 {
    font-size: 2rem;
  }

  .pasos .container .col-der img, .como-funciona .container .col-1 img {
    width: 45%;
  }

  .como-funciona .container .col-2 p {
    margin-bottom: 1.5rem;
  }

  .blog .container .row-custom a .texto-seccion .texto p {
    font-size: 0.8rem;
  }

  .blog .container .row-custom a .texto-seccion .texto h2 {
    font-size: 1rem;
  }

  .blog .container .row-custom a .texto-seccion .texto {
    padding: 1.5rem;
  }

  .descargas h2 {
    font-size: 1.5rem;
  }

  .descargas .enlaces a {
    margin-left: 0;
    transform: scale(0.8);
    margin-right: 0;
  }

  .pasos .container .col-izq .cards div h2 {
    font-size: 0.9rem;
  }

  .pasos .container .col-izq .cards div p {
    font-size: 0.75rem;
  }

  .pasos .container .col-izq .cards div {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .como-funciona .container .col-1 img {
    margin-bottom: 1.25rem;
  }

  .banner {
    margin-bottom: 3rem;
  }

  .banner .container .slider figure {
    height: 158px;
  }

  .descargas .enlaces {
    display: block !important;
  }

  .descargas .enlaces a {
    margin: 0 auto;
  }

  .blog .container .row-custom {
    margin-bottom: 2rem;
  }
}
@media all and (max-width: 500px) {
  .flip {
    position: relative;
  }
  .flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:focus > .front {
    transform: rotateY(180deg);
  }
  .flip:focus > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:focus > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:focus > .back {
    transform: rotateX(0deg);
  }

  .flip {
    position: relative;
  }
  .flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:onclick > .front {
    transform: rotateY(180deg);
  }
  .flip:onclick > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:onclick > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:onclick > .back {
    transform: rotateX(0deg);
  }
}
@media all and (max-width: 422px) {
  footer .container .redes {
    display: block;
  }

  footer .container .redes a {
    margin: 0 auto !important;
  }

  .descargas .enlaces a {
    margin: 0 auto !important;
  }

  .banner .container .texto-seccion h1 {
    font-size: 1.6rem;
  }

  .descargas h2 {
    font-size: 1.5rem;
  }

  .descargas .enlaces a {
    margin-top: 0.6rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    transform: scale(0.8);
  }

  .como-funciona .container .col-2 .tabla div {
    width: 100%;
  }

  .blog .container .col .flip {
    transform: scale(0.95);
  }

  .flip.xcustom {
    height: 209px !important;
  }

  .col.colcustom {
    height: 290px !important;
  }

  .blog .container .col .flip > .front p, .blog .container .col .flip > .back p {
    font-size: 0.825rem;
  }

  .blog .container .row-custom {
    margin-bottom: 2rem;
  }

  .blog .container .row-custom {
    margin-top: 0.5rem;
  }

  .descargas .enlaces a {
    margin-top: 0.25rem;
  }

  .como-funciona .container .col-1 img {
    padding: 0;
  }

  .descargas .enlaces a {
    margin-left: 0;
    margin-right: 0;
  }

  .descargas .enlaces a {
    width: 225px;
  }

  header .menu-bar-movil {
    padding: 0 1rem;
  }

  .banner .container .texto-seccion h1 {
    font-size: 1.25rem;
  }

  .descargas h2 {
    font-size: 1.1rem;
  }

  .pasos h3 {
    font-size: 1.1rem;
  }

  .blog .container {
    padding: 0 1.25rem;
  }

  .blog .container .col {
    margin-top: 1.5rem;
  }

  .blog .container .row-custom {
    margin-top: 0 !important;
  }

  .banner .container .slider figure {
    height: 100px;
  }
}