@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
header{
    .menu-bar-pc{
        min-height: 6rem;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        a{
            text-decoration: none;
            color: #000;
            margin-right: 1rem;
            position: relative;
            transition: all .4s ease;
            padding-bottom: .5rem;          
            &:hover{
                &::before{
                    position: absolute;
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: rgba(76, 209, 55,1);
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:last-child{
                margin-left: 0;
            }
            h2{
                font-size: 1.8rem;
            }
        }
    }
    .menu-bar-movil{
        top: 0;
        min-height: 6rem;
        padding: 0 5rem;
        left: 0;
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: row;
        display: none;
        a{
            text-decoration: none;
            color: #000;
            h2{
                font-size: 1.3rem;
            }
            .fa-hamburger{
                color: #000;
                font-size: 1.3rem;
            }
        }
        .menu-despegable{
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 9;
            top: 0;
            right: 0%; /*al 0% w Js*/
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-out;
            background: rgba(11, 232, 129,1.0);
            #cerrar{
                .fa-times{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: 2rem;
                    color: #fff;
                    transition: all .5s ease;
                    &:hover{
                        color: #e74c3c;
                    }
                }
            }
            .menu-principal{                
                text-align: center;
                a{
                    display: block;
                    margin: 1.8rem auto;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: 800;
                    letter-spacing: .13em;
                    position: relative;
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            background: #fff;
                            transform: translateX(-50%);
                            height: 3px;
                            width: 30px;
                        }
                    }
                }
                .redes{
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    a{
                        text-decoration: none;
                        margin: 0 1rem;                        
                        i{
                            font-size: 20px;
                            color: #fff;
                            transition: all .4s ease;
                            &.fa-instagram:hover{
                                color: #E4405F;
                            }
                            &.fa-twitter:hover{
                                color: #1DA1F2;
                            }
                            &.fa-facebook-f:hover{
                                color: #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner{
    .container{
        width: 90%;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .texto-seccion{
            padding-top: 5.5rem;
            h1{
                text-align: center;
                font-size: 4.5rem;
                color: rgba(76, 209, 55,.9);
                text-transform: uppercase;
            }
        }
        .slider{
            overflow: hidden;
            width: 40%;
            margin: 0 auto;
            figure{
                position: relative;
                width: 500%;
                margin: 0 auto;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 30s slidy infinite;
                img{
                    width: 20%;
                    float: left;
                }
            }
        }
    }
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

.como-funciona{
    padding-top: 4.5rem;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .col-1{
            width: 50%;
            img{
                width: 100%;
                padding: 2rem;
            }
        }
        .col-2{
            width: 50%;
            i{
                background: rgba(46, 204, 113,.8);
                color: #fff;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                font-size: 1.1rem;
                justify-content: center;
                align-items: center;
                display: flex;
            }
            h2{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.4rem;
                margin-bottom: .5rem;
            }
            p{
                text-align: justify;
                font-size: 0.8rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
            .tabla{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                div{
                    width: 50%;
                    i{
                        background: rgba(46, 204, 113,.8);
                        color: #fff;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        display: flex; 
                    }
                    p{
                        margin-left: 2.1rem;
                        margin-right: 2.1rem;
                        font-size: 0.8rem;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

.descargas{
    background: #7777;
    margin-top: -7px;
    h2{
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    .enlaces{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        a{
            display: flex;
            width: 200px;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: #fff;
            flex-direction: row;
            flex-wrap: nowrap;
            border: 2px solid #222;
            background: #222;
            margin-top: 1.4rem;
            margin-right: 1.65rem;
            border-radius: 2.5px;
            padding: .29rem;
            margin-left: 1.65rem;
            transition: all .4s ease;
            transform: scale(1);
            &:hover{
                transform: scale(1.085);
            }
            i{
                &.fa-google-play{
                    width: 30%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-size: 1.5rem;
                }
                &.fa-apple{
                    width: 30%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-size: 2rem;
                }
            }
            p{
                width: 70%;
                font-size: 0.8rem;
                span{
                    font-size: 1.3rem;
                }
            }
        }
    }    
}

.pasos{
    padding-bottom: 4.5rem;
    h3{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .container{
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .col-der{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .col-izq{
            width: 50%;
            align-self: center;
            .cards{
                height: 110px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-bottom: 2rem;
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    padding: 1.5rem;
                    color: #fff;
                    border-radius: 3px;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    transform: scale(1);
                    transition: all .12s ease-in-out;
                    font-size: 1.1rem;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.075);
                    }
                }
                div{
                    margin-left: 2rem;
                    margin-right: 4rem;
                    h2{
                        font-size: 1.4rem;
                    }
                    p{
                        text-align: justify;
                    }
                }
            }
        }
    }
}
figure{
    width: 100%;
    background: url(../img/fondo-frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.blog{
    background: #7777;
    .container{
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .row-custom{
            margin: 0 auto;
            display: block;
            margin-top: 4rem;
            width: 94.5%;
            height: 200px;
            background: #222;
            border-radius: 20px;
            a{
                text-decoration: none;
                .texto-seccion{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    transform: scale(1);
                    transition: all .3s ease-in;
                    &:hover{
                        transform: scale(1.06);
                    }
                    .texto{
                        width: 100%;
                        p{
                            color: rgba($color: #999, $alpha: .85);
                        }
                        h2{
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .col{
            width: 50%;
            .flip {
                position: relative;
                >.front,
                >.back {
                    display: block;
                    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
                    transition-duration: .5s;
                    transition-property: transform, opacity;
                }
                >.front {
                    transform: rotateY(0deg);
                }
                >.back {
                    position: absolute;
                    opacity: 0;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(-180deg);
                }
                &:hover {
                    >.front {
                        transform: rotateY(180deg);
                    }
                    >.back {
                        opacity: 1;
                        transform: rotateY(0deg);
                    }
                }
                &.flip-vertical {
                    >.back {
                        transform: rotateX(-180deg);
                    }
                    &:hover {
                        >.front {
                            transform: rotateX(180deg);
                        }
                        >.back {
                            transform: rotateX(0deg);
                        }
                    }
                }
            }
            
            // custom
            .flip {
                position: relative;
                display: inline-block;
                margin-right: 2px;
                margin-bottom: 1em;
                width: 400px;
                >.front,
                >.back {
                  display: block;
                  color: white;
                  width: inherit;
                  background-size: cover!important;
                  background-position: center!important;
                  height: 220px;
                  padding: 1em 2em;
                  background: #313131;
                  border-radius: 10px;
                  p {
                    font-size: 0.9125rem;
                    line-height: 160%;
                    color: #999;
                  }
                  a{
                      bottom: 20px;
                      right: 20px;
                      text-decoration: none;
                      color: #fff;
                      position: absolute;
                  }
                }
            }
            
        }
    }
}
footer{
    box-shadow: 5px 5px 5px #999;
    color: #fff;
    background: #222;
    h2{
        padding-top: 1rem;
        font-weight: lighter;
    }
    .container{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
        .col1{
            width: 20%;
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        .col2{
            width: 20%;
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        .redes{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            a{
                height: 90px;
                display: flex;
                width: 200px;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-decoration: none;
                color: #fff;
                flex-direction: row;
                flex-wrap: wrap;
                border: 2px solid #222;
                background: #000;
                box-shadow: 5px 5px 5px #222;
                border-radius: 2.5px;
                padding: .61rem;
                transition: all .4s ease;
                transform: scale(0.75);
                &:nth-child(1):hover{
                    transform: scale(0.79);
                }
                &:nth-child(2):hover{
                    transform: scale(0.79);
                }
                i{
                    &.fa-google-play{
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font-size: 1.5rem;
                    }
                    &.fa-apple{
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font-size: 2rem;
                    }
                }
                p{
                    width: 70%;
                    font-size: 0.8rem;
                    span{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

/*----------- MEDIA QUERIES -----------*/

@media all and (max-width: 1120px){
    header .menu-bar-pc{
        padding: 0 2rem;
    }
    header .menu-bar-pc a{
        margin-right: 0.7rem;
    }
    .banner .container .texto-seccion h1{
        font-size: 3.8rem;
    }
    .descargas h2{
        font-size: 2.2rem;
    }
    .blog .container{
        width: 100%;
    }
}

@media all and (max-width: 968px){
    .pasos .container .col-izq .cards div h2{
        font-size: 1.1rem;
    }
    .pasos .container .col-izq .cards div p{
        font-size: 0.9rem;
    }
    .pasos .container .col-izq .cards div{
        margin-left: 1rem;
        margin-right: 3rem;
    }
    .pasos h3{
        font-size: 1.6rem;
    }
    .como-funciona .container .col-2{
        width: 55%;
    }
    .como-funciona .container .col-1{
        width: 45%;
    }
    .como-funciona .container .col-2 .tabla div p{
        margin-left: 0;
    }
    .como-funciona .container .col-2 h2{
        font-size: 1.3rem;
    }
    .blog .container .col .flip{
        transform: scale(0.8);
    }
    .salto{
        display: none;
    }
    .blog .container .row-custom{
        margin-top: 2.2rem;
    }
    .blog .container .col{
        align-self: center;
    }
    .banner .container .texto-seccion h1{
        font-size: 3rem;
    }
}

@media all and (max-width: 890px){
    
}